:root {
  --main-bg-color: #373737;
  --accent-color-1: #C0B283;
  --accent-color-2: #DCD0C0;
  --light-color: #F4F4F4;
}

body{
  /*background: url('../img/textures/brillant.png');*/
  background: var(--lightcolor);
  color: var(--main-bg-color);
}
h1, h2, h3 {
  font-family: 'Lato', serif;
  font-weight: 500;
  color: var(--accent-color-1);
}

/*home page*/
/*override semantic default padding so headshot takes all space*/ 
.ui.stackable.grid>.column.row>.headshot-container {
  padding: 0 !important;
}
.ui.home>.row {
  padding: 0;
}
.home {
  padding: 0;
  margin: -50px;
  width: 100%;
  min-height: calc(100vh - 42px); /*page height - navbar height*/
}
.home .about-col {
  padding: 8% 10% 0 10%;
}
.home .about-col .about-text {
  padding: 0 5% 0 5%;
  margin: 8px 0 10px 0;
}
.home .name {
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Lato', serif;
  font-size: 46px;
  margin-bottom: 10px;
}
.home .title {
  font-family: 'Arsenal', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 0;
}
.home .headshot-container {
  padding: 0;
  width: 100%; 
  overflow: auto;
}
.home #headshot {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin: 0;
}
.home h4{
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.home p {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
}
/*enlarge semantic default large icon size (large too small, next size up too big*/
i.large.icon {
  font-size: 2.3em;
}

/*resume page*/
#resume-pdf {
  width: 70%;
  margin: 0 auto;
  height: calc(78vh);
}

/*project elements*/
.ios-card {
  overflow: contain;
} 
.ios-video {
  max-width: 100%;
  display: inline; /*remove extra spacing*/
}

/*blog*/
.blog .tech .label {
  background: var(--accent-color-1);
}

@media screen and (max-width: 990px) {
  .home .headshot-container{
    max-height: 400px;
    overflow: hidden; /*don't scroll overflow*/
  }
  .home #headshot {
    width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
    object-position: 65% 30%;
    margin: 0;
  }
  .home .about-text {
    margin: 20px 0 20px 0;
  }
  .home .about-text h4 {
    margin: 0 0 5px 0;
    font-weight: bold;
  }
}

@media screen and (max-width: 640px) {
  .home .about-col {
    padding-top: 10px;
  }
  .home .name {
    font-size: 42px;
    margin-bottom: 0;
  }
  .home .title {
    font-size: 16px;
    margin-top: 0;
  }
  .home .headshot-container {
    height: 320px;
    width: 100%;
    padding: 0 !important; 
  }
  .home #headshot {
    min-width: 100%;
    width: auto;
    height: 100%;
  }
}